
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600&display=swap');

html, body {
  overflow-x: hidden;
}

/**
 * Enable smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/**
 * Add .section to every anchored element for scroll margin
 */
.section {
  scroll-margin-top: 2rem;
}

/* Header */
.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-decoration: none;
}

@media (min-width: 48em) {
  .site-title {
    float: left;
  }
}

.nav-link {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8) !important;
}

.social-nav .nav-link {
  padding: 0 0.5rem;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

.ftDown {
  display: flex;
  justify-content: center;
}

.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: rgba(0, 0, 0, 0.6) !important;
}

/* Hero (intro) section */
.intro-title {
  font-weight: 800;
}

@-webkit-keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.wave-bg {
  display: block;
  height: 220px;
  width: 100%;
  min-width: 600px;
  transform-origin: top;
  -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
          animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background-image: url("../images/wave-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
}

img.avatar {
  border-radius: 30px;
}

/* Masonary grid for portfolio */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* Grid Item */
.grid-sizer,
.grid-item {
  width: 100%;
}

.grid-item {
  padding-bottom: 12px;
}

@media (min-width: 48em) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
  .grid-item {
    float: left;
    padding: 6px;
  }
}

.grid-item img {
  display: block;
  width: 100%;
  max-width: 100%;
}

/* Portfolio */
.portolio-section .container {
  padding: 0;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

.portfolio-item figcaption {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.75);
  transition: transform 0.35s;
  transform: translate3d(0, 100%, 0);
}

.portfolio-item figcaption h4 {
  color: #222;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3px;
}

.portfolio-item figcaption p {
  color: #444;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.portfolio-item:hover figcaption {
  transform: translate3d(0, 0, 0);
}

/* Portolio Caption */
#bp_container .bp-xc {
  background: #F6E05E !important;
}

#bp_caption a {
  text-decoration: none;
}

/* Footer section */
footer a:not(.nav-link) {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/* Scroll Top */
#scrolltop {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scrolltop .btn {
  padding: 3px 11px;
  border-radius: 50%;
}

/* Additional utility styles */
.container-narrow {
  max-width: 1024px;
  margin: 0 auto;
}

.text-small {
  font-size: 0.875rem;
}

.text-uppercase {
  letter-spacing: 0.05em;
}

.hover-effect {
  transition: transform .18s ease-in-out;
}

.hover-effect:hover {
  transform: translateY(-2px);
}

.marker {
  position: relative;
  display: inline;
  width: auto;
}

.marker-center {
  padding-right: 0;
}

.marker:after {
  content: "";
  width: 125px;
  height: 30px;
  position: absolute;
  bottom: -25px;
  right: -30px;
  background-image: url("../images/marker.svg");
  background-repeat: no-repeat;
}

.marker-center:after {
  bottom: -30px;
  left: 50%;
  margin-left: -60px;
}

.mt-5 {
  margin-top: 8rem!important;
}

@media (max-width: 575.98px) {
  .marker {
    padding-right: 0;
  }

  .main {
    margin-left: 10em;
    margin-top: 2.3em !important;
  }

  .linkedin {
    display: block !important;
    margin-left: 1em;
    margin-top: 2em;
  }

  .main1 {
    margin-left: 10em;
    margin-top: 0em !important;
    margin-bottom: 3em;
  }
  .marker:after {
    bottom: -30px;
    left: 50%;
    margin-left: -60px;
  }
}

@media (max-width: 500px) {

  .ftDown {
    display: block;
  }
  .img-fluid {
    margin-left: 0 !important;
  }

  .mt-5 {
    margin-top: 2rem!important;
    margin-bottom: 4em;
  }
}

.entry-title a {
  text-decoration: none;
}


svg {
  width: 100%;
}

.text-small {
  font-size: 1.5rem !important;
}

.social-nav .nav-link {
  padding: 0 0.5rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
}


.main{
  left: 50%;
  transform: translateY(0%) rotate(45deg);
  margin-top: 0em;
  
                opacity: 0;
}
@keyframes scrolldown {
            0%{
                transform: translateY(20%) rotate(45deg);
                opacity: 0.7;
            }
            50%{
                transform: translateY(0%) rotate(45deg);
                opacity: 0.2;
            }
            100%{
                transform: translateY(20%) rotate(45deg);
                opacity: 0.7;
            }
        }



/* ---------------------- */

.fancy-quote {
  margin: 0 auto;
  max-width: 1100px;
  margin: 30px;
}
.fancy-quote h1 {
  margin-top: 0;
  font-size: 2em;
  color: white;
  font-weight: 700;
  padding-bottom: 35px;
  opacity: 0.9;
  letter-spacing: 1px;
}
.fancy-quote figcaption {color:white;}
.fancy-quote p {
  line-height: 1.25em;
}
.fancy-quote cite { font-style:inherit;padding-left:10px;letter-spacing:1px;}
.fancy-quote blockquote {
  width: 100%;
  margin-left: -50px;
  padding: 23px 35px;
  position: relative;
  background: ivory;
  margin-bottom: 28px;
  color: white;
  opacity: 0.85;
}

.fancy-quote blockquote::before,
/* .fancy-quote blockquote::after {
  top: 0;
  bottom: 0;
  width: 25px;
  content: "";
  position: absolute;
  background: #3c3b6e;
  box-shadow: 0 2px rgba(0, 0, 0, 0.25);
} */
.fancy-quote blockquote::before {
  right: 100%;
}
.fancy-quote blockquote::after {
  left: 100%;
}
.fancy-quote blockquote p {
    margin: 0;
    padding-bottom: 14px;
    padding-top: 15px;
}
.fancy-quote blockquote p::before {
  top: 0;
  left: 16px;
  color: #b22234;
  content: "“";
  font-size: 4em;
  position: absolute;
  text-shadow: -3px 0 #f7f7f7;
  font-weight: bold;
  font-family: "Times New Roman", "serif";

  opacity: 0.75;
}
.fancy-quote blockquote p::after {
  right: 16px;
  color: #b22234;
  content: "”";
  bottom: -32px;
  font-size: 4em;
  position: absolute;
  text-shadow: 3px 0 #c2c2c2;
  font-weight: bold;
  font-family: "Times New Roman", "serif";

  opacity: 0.75;
}
.fancy-quote blockquote cite {
  font-size: 18px;
  font-style: italic !important;
  letter-spacing: 2px;
}
 .fancy-quote blockquote {
    padding-right: 0;
    width: calc(100% + 50px);
  }

@media screen and (min-width: 750px) {
  .fancy-quote h1 {
    font-size: 3em;
  }
  .fancy-quote blockquote {
    padding-right: 0;
    width: calc(100% + 50px);
  }
  .fancy-quote blockquote::before {
    display: none;
  }
  .fancy-quote blockquote::after {
    width: 50px;
    border-radius: 0 3px 3px 0;
  }
  .fancy-quote blockquote p {
    font-size: 1em;
font-family: 'Montserrat', sans-serif;
    font-style: italic;
    opacity: 0.9;
    letter-spacing: 1px;
  }
  .fancy-quote blockquote p::after {
    bottom: -56px;
  }
  .fancy-quote blockquote cite {
    font-size: 28px;
    font-style: normal !important;
  }
}


