body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container_outer {
    padding: 0;
}

.cover_page {
    background: url("../img/plexus.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0;
}

.background_div {
    background-color: rgba(0, 191, 165, 0.75);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.bg{
    background-image: url(./img/trans.png) no-repeat;
}
.container_inner {
    height: 100%;
    background: transparent;
}

.menubar {
    border: none;
    background-color: transparent;
    padding-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.3em;
}

.menubar ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

.menubar a li {
    float: left;
    margin: 5px;
    padding: 10px;
}

.menubar a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.menubar a:hover {
    background-color: white;
    border-radius: 12px;
    color: rgb(0, 191, 165);
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0px 0px 6px 6px rgba(255, 255, 255, 1);
}

.name_row {
    height: 75%;
}

.name {
    display: table;
    width: 100%;
    height: 100%;
}

.full-name {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-animation-name: animate_header;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-name: animate_header;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.name_box {
    width: 55%;
    margin: auto;
}

.full-name h2 {
    font-weight:800 ;
    font-size: 4vmax;
}

.full-name p,
.followat {
    font-size: 3vmin;
    margin: 10px 0;
}

.followat a {
    display: inline-block;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    text-decoration: none;
}

.followat a:hover {
    display: inline-block;
    background-color: white;
    color: rgb(0, 191, 165);
    border: 1px solid rgb(0, 191, 165);
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 1);
}

.fa {
    text-align: center;
    padding: 10px;
    width: 40px;
}

.title {

    color: #008e76;
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 20px;
}

.title_name {
    
    font-family: Calibri, "Helvetica", san-serif;
    line-height: 1.5em;
    font-size: 2.5em;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 2px 1px 1px rgba(150, 150, 150, 1);
}

.title_name::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 40px;
    border: 2px solid #008e76;
    border-radius: 4px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

hr{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.aboutme {
    margin: auto;
    color: #008e76;
    text-align: justify;
    font-size: 1.1em;
    padding: 40px 15px 0px;
}

.aboutme p {
    padding: 0px 100px;
    margin: 0;
}

.flex-container {
    display: flex;

    flex-flow: row wrap;
    justify-content: center;
}

.circle {
    width: 140px;
    padding: 15px;
    margin: 20px;
    background-color: #008e76;
    color: white;
    text-align: center;
    line-height: 110px;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px rgba(89, 199, 180, 1);
}

#vinay{
    border-radius: 50%;
    width: 250px;
    margin : auto;
    margin-bottom: 30px;
}

.back_ground {
    background-color: #008e76;
    margin-top: 75px;
}

.title2 {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px 0px;
}

.title_name2 {
    font-family: Calibri, "Helvetica", san-serif;
    line-height: 1.5em;
    font-size: 2.5em;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 2px 1px 1px rgba(150, 150, 150, 1);
}

.title_name2:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    border: 2px solid white;
    border-radius: 4px;
    transform: translateX(-50%);
}

.experience {
    
    background-color: transparent;
}

.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    height: 98%;
}

.container1 {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.container1::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: white;
    border: 4px solid #424242;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container1 h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 5px;
}

.container1 h4 {
    font-size: 1.1em;
    font-weight: bold;
    color: #424242;
    margin-bottom: 5px;
    margin-top: 5px;
}

.left {
    left: 0;
    text-align: right;
}

.right {
    left: 50%;
    text-align: left
}

.right::after {
    left: -14px;
}

.content {
    position: relative;
    color: white;
}

.flex-container-images {
    padding-top: 40px;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

.flex-container-images img {
    height: 100%;
    display: block;
    margin: auto;
}

.works {
    width: 300px;
    height: 360px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.footer {
    background-color: #424242;
    color: white;
    margin-top: 60px;
}

.hire {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 1.1em;
    font-weight: bold;
}

@keyframes animate_header {
    from {
        -webkit-animation: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .aboutme p {
        padding: 0 40px;
    }
}

@media all and (min-width: 767px) {
    .name_box {
        width: 60%;
    }
    .circle {
        width: 110px;
        padding: 10px;
        line-height: 90px;
    }
    .flex-container-images {
        padding-top: 20px;
    }
    .works {
        width: 300px;
        height: 300px;
    }
    .hire {
        font-weight: normal;
    }
}

@media all and (max-width: 480px) {
    .menubar {
        font-size: 1em;
    }
    .menubar ul {
        margin: 0;
    }
    .menubar a li {
        margin: 2px;
        padding: 6px;
    }
    .name_box {
        width: 75%;
    }
    .followat a {
        border: 1.5px solid white;
    }
    .fa {
        padding: 5px;
        width: 26px;
    }
    .aboutme p {
        padding: 0px 50px;
    }
    .timeline::after {
        left: 31px;
    }
    .container1 {
        width: 100%;
        padding-left: 70px;
        padding-right: 40px;
        text-align: left;
    }
    .left::after,
    .right::after {
        left: 17px;
    }
    .right {
        left: 0%;
    }
    .circle {
        width: 90px;
        padding: 8px;
        line-height: 70px;
    }
    .title_name2:after {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 50%;
        border: 2px solid white;
        border-radius: 4px;
        transform: translateX(-50%);
    }
    .full-name h2 {
        font-weight: bold;
        font-size: 3em;
    }
}